<p id="notice"><%= notice %></p>
<div class="title">
  <% if @posts.empty? %>
    <h2>Share what's on your mind. Go ahead and <%= link_to "make a post.", new_post_path %></h2>
  <% else %>
    <h1>All Posts</h1>
    <%= link_to 'New Post', new_post_path %>
  <% end %>
</div>
<% @posts.each do |post| %>
  <div class="posts_border">
    <div class="blog_title">
      <i> <%= link_to post.title, post_path(post.id) %> </i>
    </div>
    <div class="index_author">
      Posted by <%= link_to post.user.name, post.user %> | <%= time_ago_in_words(post.created_at) %> Ago
    </div>
    <div class="blog_text">
      <%= post.body %><br>
    </div>
  </div><br>
<% end %>
