<p id="notice"><%= notice %></p>
<div class="title">
  <% if @posts.empty? %>
    <h1>Share what's on your mind. Go ahead and make a post.</h1>
  <% else %>
    <h1>All Posts</h1>
  <% end %>
</div>
<% @posts.each do |post| %>
  <div class="posts_border">
  <div class="blog_title">
    <i> <%= post.title %> </i><br>
  </div>
  <div class="blog_text">
    <%= post.body %><br>
  </div>
  <div class="blog_edit">
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div><br>
<% end %>

<%= link_to 'New Post', new_post_path %>
